{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>Manage Users</title>
<link rel="stylesheet" href="{% static 'generator/dashboard.css' %}">
</head>
<body>

<nav class="navbar">
  <div class="nav-left">Admin Panel</div>
  <div class="nav-right">
    <a href="{% url 'admin_home' %}"><button>Dashboard</button></a>
    <a href="{% url 'login' %}"><button>Logout</button></a>
  </div>
</nav>

<div class="container">
<h2>Manage Users</h2>

<div class="card-grid">
  <div class="card">
    <h4>Faculty</h4>
    <p>Manage faculty details</p>
    <a href="{% url 'manage_faculties' %}"><button>Manage Faculties</button></a>
  </div>

  <div class="card">
    <h4>Subject</h4>
    <p>Add and manage subject details</p>
    <a href="{% url 'manage_subjects' %}"><button>Manage Subjects</button></a>
  </div>
</div>
</div>
</body>
</html>
