{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>Faculty Timetable</title>
<link rel="stylesheet" href="{% static 'generator/timetable.css' %}">
</head>
<body>

<nav class="navbar">
  <div class="nav-left">Admin Panel</div>
  <div class="nav-right">
    <a href="{% url 'faculty_home' %}"><button>Dashboard</button></a>
    <a href="{% url 'login' %}"><button>Logout</button></a>
  </div>
</nav>

<h2>Faculty Timetable</h2>
    <table>
      <tr>
        <th>Time</th>
        <th>Mon</th>
        <th>Tue</th>
        <th>Wed</th>
        <th>Thu</th>
        <th>Fri</th>
      </tr>

      <tr>
        <td>8:30–9:30</td>
        <td>DDC (Sem4‑A1)</td>
        <td>-</td>
        <td>-</td>
        <td>DDC (Sem4‑A2)</td>
        <td>-</td>
      </tr>

      <tr>
        <td>9:30–10:30</td>
        <td>-</td>
        <td>-</td>
        <td>DDC (Sem6‑B1)</td>
        <td>-</td>
        <td>-</td>
      </tr>

      <tr>
        <td>10:30–12:30</td>
        <td class="lab">DDC Lab (Sem4‑A1)</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td class="lab">DDC Lab (Sem6‑B2)</td>
      </tr>

      <tr>
        <td colspan="6" class="break">BREAK</td>
      </tr>

      <tr>
        <td>1:30–2:30</td>
        <td>-</td>
        <td>-</td>
        <td>DDC (Sem4‑B1)</td>
        <td>-</td>
        <td>-</td>
      </tr>

      <tr>
        <td>2:30–3:30</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>DDC (Sem6‑A1)</td>
        <td>-</td>
      </tr>
    </table>
</body>
</html>
