{% load static %}
<!doctype html>
<html>
<head>
  <title>Select Timetable</title>
  <link rel="stylesheet" href="{% static 'generator/dashboard.css' %}">
</head>

<body>
<nav class="navbar">
  <div class="nav-left">Timetable Generator</div>
  <div class="nav-right">
    <a href="{% url 'faculty_home' %}"><button>Dashboard</button></a>
    <a href="{% url 'login' %}"><button>Logout</button></a>
  </div>
</nav>

<div class="container">
  <h3 class="section-title">View Timetable</h3>

  <div class="activity">
    <form method="post">
      {% csrf_token %}

      <label>Semester</label>
      <select name="semester" required>
        <option value="">Select Semester</option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
        <option>6</option>
      </select>

      <br><br>

      <label>Division</label>
      <select name="division" required>
        <option value="">Select Division</option>
        <option>A1</option>
        <option>A2</option>
        <option>B1</option>
        <option>B2</option>
      </select>

      <br><br>

      <button class="btn-primary">View Timetable</button>
    </form>
  </div>
</div>
</body>
</html>
